body{
    color: cornsilk;
}
.container-fluid{
   max-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    height: calc(100vh - 90px); 
}

footer{
    background-color: #282828;
    height: 90px;
}
.sidebar{
    background-color:black;
    position: relative;
}
#logo{
    height: 50px;
    position: fixed;
    top: 25px;
    left: 60px;   
}
.upgrade{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #252525;
}
#push{
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    color: cornsilk;
    position: fixed;
    top: 25px;
    right: 25px;
}
.content{
    background-color: midnightblue;
    height: 100%;
    overflow-y: scroll;
}
.logo-spoty {
    width: 100%;
    height: 100px;
}
.ul {
    padding: 5px 0px 5px 15px;
    list-style: none;
}

.li-side {
    /* border-left: 2px solid green; */
    padding: 10px;
    /* color: grey; */
}
.playlist-title {
    margin: 25px;
}
.fa-plus-square {
    margin: 10px;
}
.profile {
    position: absolute;
    margin-left: 25px;
    margin-top: 50%;
    width: 80%;
}
.user {
    bottom: 0;
    display: inline-block;
    padding: 10px;
}
.JD {
    font-size: large;
}
.ul-main-title, .ul-tit {
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    margin: 0 auto;
}
.recent-play {

}
.popular-artist img{
    border-radius: 200px;

}
.artwork {
    width: 200px;
    margin-top: 25px;
    margin-right: 25px;
 
}
.main-section {
    padding: 20px;
}
.title {
    padding: 25px 0px 25px 0px;
}
.albums-box {
    display: inline-block;
    text-align: center;
}
.player-artwork img {
    width: 50px;
}
.player-artwork {
    width: auto;
}
.sinister-data {
    float: left;
}
